/* Base style */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
 font-family: 'Readex Pro', serif;
 background-color: rgba(250, 250, 250, 100%);


}
h2 {
  margin-bottom: 10px;
}
header img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
}

header ul li{
  background-color: white;
}

ul li {
  margin-bottom: 4px;
  padding-top: 10px;
  padding-bottom: 10px;

}

main {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

main p {
  padding: 0 30px 30px;
  font-size: 15px;
}

header p, footer p, footer ul{
  font-size: 15px;
  padding: 10px 20px;
  color: dimgrey;
}

header h5 {
  font-size: 15px;
}
main img{
  width:90vw;
}
ul {
  list-style: none;
  margin: 0 15px;;
  padding-left: 0px;
}

footer {
  margin:10px 0px;
  overflow-wrap: break-word;
  font-family: 'Work Sans', sans-serif;
  background-color: rgba(250, 250, 250, 100%);
}

footer a {
  text-decoration: none;
  color: black;
}

#contact {
  padding-top: 30px;
  padding-bottom:30px;

}

#bottom {
  margin: 15px;
  border-top: 1px solid lightgrey;
  display:flex;
  justify-content: space-between;
}
